[user]
        name = Tony R Quilkey
        email = thorpe@thorpesystems.com
[alias]
        co = checkout
        br = branch
        ci = commit
        st = status
        lg = log --color --pretty=format:\"%h %s %an %cr\" --graph
[core]
        excludesfile = /home/thorpe/.gitignore
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
        ui = true
