snippet st "setter function"
/**
 * set$2
 *
 * @return $this
 */
${1:public }function set${2/\w+\s*/\u$0/}($${3})
{
	$this->$3 = $$3;

	return $this;
}
endsnippet

snippet gt "getter function"
/**
 * get$2

 * @return $2
 */
${1:public }function get${2/\w+\s*/\u$0/}()
{
	return $this->$2;
}
endsnippet
